<% active_page = locals[:page] %>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="/">Simple Blob Storage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
    </div>
    <span class="home__logout-form">
      <%= form_for(current_user, url: :destroy_user_session, html: { method: :delete }) do |f| %>
        <%= f.submit "Logout", class: 'home__logout' %>
      <% end %>
    </span>
  </div>
</nav>