@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: roboto;
  height: 100%;
}

a {
  color: rgb(118, 184, 223);
  text-decoration: inherit;
}

p, div, span, input {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.alert {
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-10%, 20%);
  z-index: 1;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}