// Place all the styles related to the rpc_session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rpc-session {
  display: flex;
  flex-direction: column;
  
  &__terminal {
    margin: 2rem 0;
    height: 70vh;
  }

  &__actions {
    
  }
}

.async-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
